.border-gradient-cool,
.border-gradient-earth,
.border-gradient-flamingo,
.border-gradient-neon,
.border-gradient-ocean,
.border-gradient-pastel,
.border-gradient-purple-haze,
.border-gradient-rainbow,
.border-gradient-sunset,
.border-gradient-warm {
  border: 2px solid transparent;
}
.text-gradient-citrus-peel,
.text-gradient-cool,
.text-gradient-deep-space,
.text-gradient-earth,
.text-gradient-emerald-water,
.text-gradient-flamingo,
.text-gradient-frosty-sky,
.text-gradient-neon,
.text-gradient-ocean,
.text-gradient-pastel,
.text-gradient-peach,
.text-gradient-purple-haze,
.text-gradient-rainbow,
.text-gradient-rose-water,
.text-gradient-royal,
.text-gradient-sunset,
.text-gradient-warm {
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
@font-face {
  font-family: "OnePlus Sans Regular";
  src: url(https://surecdn.vercel.app/templates/fonts/OnePlusSans3.0En-VF.ttf)
      format("woff2"),
    url(https://surecdn.vercel.app/templates/fonts/OnePlusSans3.0En-VF.woff)
      format("woff"),
    url(https://surecdn.vercel.app/templates/fonts/OnePlusSans3.0En-VF.ttf)
      format("truetype");
  font-variation-settings: "wght" 400;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OnePlus Sans Medium";
  src: url(https://surecdn.vercel.app/templates/fonts/OnePlusSans3.0En-VF.woff)
      format("woff2"),
    url(https://surecdn.vercel.app/templates/fonts/OnePlusSans3.0En-VF.woff)
      format("woff"),
    url(https://surecdn.vercel.app/templates/fonts/OnePlusSans3.0En-VF.ttf)
      format("truetype");
  font-variation-settings: "wght" 500;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OnePlus Sans Bold";
  src: url(https://surecdn.vercel.app/templates/fonts/OnePlusSans3.0En-VF.woff)
      format("woff2"),
    url(https://surecdn.vercel.app/templates/fonts/OnePlusSans3.0En-VF.woff)
      format("woff"),
    url(https://surecdn.vercel.app/templates/fonts/OnePlusSans3.0En-VF.ttf)
      format("truetype");
  font-variation-settings: "wght" 700;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: OnePlus Sans Display Light;
  font-display: swap;
  src: url(https://surecdn.vercel.app/templates/fonts/OnePlusSansDisplay-45Lt.woff)
      format("woff2"),
    url(https://surecdn.vercel.app/templates/fonts/OnePlusSansDisplay-45Lt.woff)
      format("woff"),
    url(https://surecdn.vercel.app/templates/fonts/OnePlusSansDisplay-45Lt.ttf)
      format("truetype");
  font-weight: 300;
  font-style: normal;
}
html,
html body {
  font-family: "OnePlus Sans Regular", "Helvetica Neue", Helvetica, Arial,
    sans-serif, system-ui;
}
.font-medium {
  font-family: "OnePlus Sans Medium", "Helvetica Neue", Helvetica, Arial,
    sans-serif, system-ui;
}
.font-bold {
  font-family: "OnePlus Sans Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif, system-ui;
}
.border-gradient-warm {
  background: linear-gradient(to right, #e0543a, #e68d5b);
  background-clip: border-box;
  border-image: linear-gradient(to right, #e0543a 0%, #e68d5b 100%) 1;
}
.border-gradient-cool {
  background: linear-gradient(to right, #4d6aef, #d1465f);
  background-clip: border-box;
  border-image: linear-gradient(to right, #4d6aef 0%, #d1465f 100%) 1;
}
.border-gradient-sunset {
  background: linear-gradient(to right, #093656, #d1490f);
  background-clip: border-box;
  border-image: linear-gradient(to right, #093656 0%, #d1490f 100%) 1;
}
.border-gradient-ocean {
  background: linear-gradient(to right, #2090b8, #c7cba1);
  background-clip: border-box;
  border-image: linear-gradient(to right, #2090b8 0%, #c7cba1 100%) 1;
}
.border-gradient-rainbow {
  background: linear-gradient(
    to right,
    #e64a4a,
    #d9b733,
    #5eb864,
    #3d7adf,
    #3d006a
  );
  background-clip: border-box;
  border-image: linear-gradient(
      to right,
      #e64a4a 0%,
      #d9b733 20%,
      #5eb864 40%,
      #3d7adf 60%,
      #3d006a 80%
    )
    1;
}
.border-gradient-pastel {
  background: linear-gradient(to right, #82a6da, #a2c7e8);
  background-clip: border-box;
  border-image: linear-gradient(to right, #82a6da 0%, #a2c7e8 100%) 1;
}
.border-gradient-neon {
  background: linear-gradient(to right, #c73b9d, #920048);
  background-clip: border-box;
  border-image: linear-gradient(to right, #c73b9d 0%, #920048 100%) 1;
}
.border-gradient-earth {
  background: linear-gradient(to right, #205e36, #93bd8e);
  background-clip: border-box;
  border-image: linear-gradient(to right, #205e36 0%, #93bd8e 100%) 1;
}
.border-gradient-purple-haze {
  background: linear-gradient(to right, #6c1db6, #3800b0);
  background-clip: border-box;
  border-image: linear-gradient(to right, #6c1db6 0%, #3800b0 100%) 1;
}
.border-gradient-flamingo {
  background: linear-gradient(to right, #c01e0d, #c88313);
  background-clip: border-box;
  border-image: linear-gradient(to right, #c01e0d 0%, #c88313 100%) 1;
}
.background-gradient-warm {
  background: linear-gradient(to right, #e0543a, #e68d5b);
}
.background-gradient-cool {
  background: linear-gradient(to right, #4d6aef, #d1465f);
}
.background-gradient-sunset {
  background: linear-gradient(to right, #093656, #d1490f);
}
.background-gradient-ocean {
  background: linear-gradient(to right, #2090b8, #c7cba1);
}
.background-gradient-rainbow {
  background: linear-gradient(
    to right,
    #e64a4a,
    #d9b733,
    #5eb864,
    #3d7adf,
    #3d006a
  );
}
.background-gradient-pastel {
  background: linear-gradient(to right, #82a6da, #a2c7e8);
}
.background-gradient-neon {
  background: linear-gradient(to right, #c73b9d, #920048);
}
.background-gradient-earth {
  background: linear-gradient(to right, #205e36, #93bd8e);
}
.background-gradient-purple-haze {
  background: linear-gradient(to right, #6c1db6, #3800b0);
}
.background-gradient-flamingo {
  background: linear-gradient(to right, #c01e0d, #c88313);
}
.background-gradient-deep-space {
  background: linear-gradient(to right, #00031d, #00366c);
}
.background-gradient-emerald-water {
  background: linear-gradient(to right, #2a6b3d, #3e98a9);
}
.background-gradient-citrus-peel {
  background: linear-gradient(to right, #e06d06, #e6a32e);
}
.background-gradient-rose-water {
  background: linear-gradient(to right, #b2486c, #4a9bb2);
}
.background-gradient-aqua-marine {
  background: linear-gradient(to right, #131b54, #1e9fae);
}
.background-gradient-peach {
  background: linear-gradient(to right, #bb3044, #dfc999);
}
.background-gradient-royal {
  background: linear-gradient(to right, #0f1622, #1c2a3d);
}
.background-gradient-frosty-sky {
  background: linear-gradient(to right, #223b4a, #19262d, #0a1215);
}
.text-gradient-warm {
  background: linear-gradient(to right, #e0543a, #e68d5b);
  -webkit-background-clip: text;
  background-clip: text;
}
.text-gradient-cool {
  background: linear-gradient(to right, #4d6aef, #d1465f);
  -webkit-background-clip: text;
  background-clip: text;
}
.text-gradient-sunset {
  background: linear-gradient(to right, #093656, #d1490f);
  -webkit-background-clip: text;
  background-clip: text;
}
.text-gradient-ocean {
  background: linear-gradient(to right, #2090b8, #c7cba1);
  -webkit-background-clip: text;
  background-clip: text;
}
.text-gradient-rainbow {
  background: linear-gradient(
    to right,
    #e64a4a,
    #d9b733,
    #5eb864,
    #3d7adf,
    #3d006a
  );
  -webkit-background-clip: text;
  background-clip: text;
}
.text-gradient-pastel {
  background: linear-gradient(to right, #82a6da, #a2c7e8);
  -webkit-background-clip: text;
  background-clip: text;
}
.text-gradient-neon {
  background: linear-gradient(to right, #c73b9d, #920048);
  -webkit-background-clip: text;
  background-clip: text;
}
.text-gradient-earth {
  background: linear-gradient(to right, #205e36, #93bd8e);
  -webkit-background-clip: text;
  background-clip: text;
}
.text-gradient-purple-haze {
  background: linear-gradient(to right, #6c1db6, #3800b0);
  -webkit-background-clip: text;
  background-clip: text;
}
.text-gradient-flamingo {
  background: linear-gradient(to right, #c01e0d, #c88313);
  -webkit-background-clip: text;
  background-clip: text;
}
.text-gradient-deep-space {
  background: linear-gradient(to right, #00031d, #00366c);
  -webkit-background-clip: text;
  background-clip: text;
}
.text-gradient-emerald-water {
  background: linear-gradient(to right, #2a6b3d, #3e98a9);
  -webkit-background-clip: text;
  background-clip: text;
}
.text-gradient-citrus-peel {
  background: linear-gradient(to right, #e06d06, #e6a32e);
  -webkit-background-clip: text;
  background-clip: text;
}
.text-gradient-rose-water {
  background: linear-gradient(to right, #b2486c, #4a9bb2);
  -webkit-background-clip: text;
  background-clip: text;
}
.text-gradient-peach {
  background: linear-gradient(to right, #bb3044, #dfc999);
  -webkit-background-clip: text;
  background-clip: text;
}
.text-gradient-royal {
  background: linear-gradient(to right, #0f1622, #1c2a3d);
  -webkit-background-clip: text;
  background-clip: text;
}
.text-gradient-frosty-sky {
  background: linear-gradient(to right, #223b4a, #19262d, #0a1215);
  -webkit-background-clip: text;
  background-clip: text;
}
